html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: hsl(30, 38%, 92%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.main {
  background: hsl(0, 0%, 100%);
  border-radius: 8px;
  width: 600px;
  height: 450px;
  margin: 16px;
}

.product {
  display: flex;
  align-items: flex-start;
  height: 100%;
  height: 100%;
}

.product__image {
  border-radius: 8px 0 0 8px;
  height: 100%;
}

.div {
  padding: 32px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.product__info {
  margin-bottom: 25px;
}

.product__category {
  color: hsl(228, 12%, 48%);
  margin: 0;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
}

.product__name {
  color: hsl(212, 21%, 14%);
  font-family: Fraunces;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 20px;
}

.product__description {
  font-size: 14px;
  color: hsl(228, 12%, 48%);
  font-family: Montserrat;
  margin: 0;
  line-height: 160%;
}

.product__price {
  color: hsl(228, 12%, 48%);
  margin: 25px 0;
  font-family: Montserrat;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.special-price {
  color: hsl(158, 36%, 37%);
  font-family: Fraunces;
  font-weight: 700;
  font-size: 30px;
  margin-right: 20px;
}

.old-price {
  text-decoration: line-through;
  font-weight: normal;
}

.product__button {
  background: hsl(158, 36%, 37%);
  border: 0;
  border-radius: 8px;
  padding: 0 32px;
  color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
  font-weight: 700;
}

.product__button:hover {
  background: hsl(158, 35%, 32%);
}

.product__button:active {
  background: hsl(159, 37%, 20%);
}

.product__button-svg {
  margin-right: 12px;
}

.product__button-text {

}

.footer {

}